<!DOCTYPE html>
<html lang="en">
<head>
<title> FizzBuzz </title>

<style>
    body{background-color: #42f5ef ;
    color: #f57514;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    h1{
        position:center;
        margin: 10% ;
    }
</style> 
</head>
<body>

    {%block container%}
<h1>Welcome to FuzzBizz where you can get your dream FizzBuzz sequence.
    Please type /fizzbuzz/ (insert your number) in the address bar in order to access the list.
</h1>


{% endblock %}

</body>





</html>


